/mysql
/.idea/.gitignore
/mysql/performance_schema/accounts.frm
/mysql/auto.cnf
/mysql/ca.pem
/mysql/ca-key.pem
/mysql/client-cert.pem
/mysql/client-key.pem
/mysql/mysql/columns_priv.frm
/mysql/mysql/columns_priv.MYD
/mysql/mysql/columns_priv.MYI
/mysql/performance_schema/cond_instances.frm
/mysql/mysql/db.frm
/mysql/mysql/db.MYD
/mysql/mysql/db.MYI
/mysql/mysql/db.opt
/mysql/niagahoster/db.opt
/mysql/performance_schema/db.opt
/mysql/sys/db.opt
/mysql/mysql/engine_cost.frm
/mysql/mysql/engine_cost.ibd
/mysql/mysql/event.frm
/mysql/mysql/event.MYD
/mysql/mysql/event.MYI
/mysql/performance_schema/events_stages_current.frm
/mysql/performance_schema/events_stages_history.frm
/mysql/performance_schema/events_stages_history_long.frm
/mysql/performance_schema/events_stages_summary_by_account_by_event_name.frm
/mysql/performance_schema/events_stages_summary_by_host_by_event_name.frm
/mysql/performance_schema/events_stages_summary_by_thread_by_event_name.frm
/mysql/performance_schema/events_stages_summary_by_user_by_event_name.frm
/mysql/performance_schema/events_stages_summary_global_by_event_name.frm
/mysql/performance_schema/events_statements_current.frm
/mysql/performance_schema/events_statements_history.frm
/mysql/performance_schema/events_statements_history_long.frm
/mysql/performance_schema/events_statements_summary_by_account_by_event_name.frm
/mysql/performance_schema/events_statements_summary_by_digest.frm
/mysql/performance_schema/events_statements_summary_by_host_by_event_name.frm
/mysql/performance_schema/events_statements_summary_by_program.frm
/mysql/performance_schema/events_statements_summary_by_thread_by_event_name.frm
/mysql/performance_schema/events_statements_summary_by_user_by_event_name.frm
/mysql/performance_schema/events_statements_summary_global_by_event_name.frm
/mysql/performance_schema/events_transactions_current.frm
/mysql/performance_schema/events_transactions_history.frm
/mysql/performance_schema/events_transactions_history_long.frm
/mysql/performance_schema/events_transactions_summary_by_account_by_event_name.frm
/mysql/performance_schema/events_transactions_summary_by_host_by_event_name.frm
/mysql/performance_schema/events_transactions_summary_by_thread_by_event_name.frm
/mysql/performance_schema/events_transactions_summary_by_user_by_event_name.frm
/mysql/performance_schema/events_transactions_summary_global_by_event_name.frm
/mysql/performance_schema/events_waits_current.frm
/mysql/performance_schema/events_waits_history.frm
/mysql/performance_schema/events_waits_history_long.frm
/mysql/performance_schema/events_waits_summary_by_account_by_event_name.frm
/mysql/performance_schema/events_waits_summary_by_host_by_event_name.frm
/mysql/performance_schema/events_waits_summary_by_instance.frm
/mysql/performance_schema/events_waits_summary_by_thread_by_event_name.frm
/mysql/performance_schema/events_waits_summary_by_user_by_event_name.frm
/mysql/performance_schema/events_waits_summary_global_by_event_name.frm
/mysql/performance_schema/file_instances.frm
/mysql/performance_schema/file_summary_by_event_name.frm
/mysql/performance_schema/file_summary_by_instance.frm
/mysql/mysql/func.frm
/mysql/mysql/func.MYD
/mysql/mysql/func.MYI
/mysql/mysql/general_log.CSM
/mysql/mysql/general_log.CSV
/mysql/mysql/general_log.frm
/mysql/performance_schema/global_status.frm
/mysql/performance_schema/global_variables.frm
/mysql/mysql/gtid_executed.frm
/mysql/mysql/gtid_executed.ibd
/mysql/mysql/help_category.frm
/mysql/mysql/help_category.ibd
/mysql/mysql/help_keyword.frm
/mysql/mysql/help_keyword.ibd
/mysql/mysql/help_relation.frm
/mysql/mysql/help_relation.ibd
/mysql/mysql/help_topic.frm
/mysql/mysql/help_topic.ibd
/mysql/performance_schema/host_cache.frm
/mysql/sys/host_summary.frm
/mysql/sys/host_summary_by_file_io.frm
/mysql/sys/host_summary_by_file_io_type.frm
/mysql/sys/host_summary_by_stages.frm
/mysql/sys/host_summary_by_statement_latency.frm
/mysql/sys/host_summary_by_statement_type.frm
/mysql/performance_schema/hosts.frm
/mysql/ib_buffer_pool
/mysql/ib_logfile0
/mysql/ib_logfile1
/mysql/ibdata1
/mysql/ibtmp1
/mysql/sys/innodb_buffer_stats_by_schema.frm
/mysql/sys/innodb_buffer_stats_by_table.frm
/mysql/mysql/innodb_index_stats.frm
/mysql/mysql/innodb_index_stats.ibd
/mysql/sys/innodb_lock_waits.frm
/mysql/mysql/innodb_table_stats.frm
/mysql/mysql/innodb_table_stats.ibd
/mysql/sys/io_by_thread_by_latency.frm
/mysql/sys/io_global_by_file_by_bytes.frm
/mysql/sys/io_global_by_file_by_latency.frm
/mysql/sys/io_global_by_wait_by_bytes.frm
/mysql/sys/io_global_by_wait_by_latency.frm
/mysql/sys/latest_file_io.frm
/mysql/sys/memory_by_host_by_current_bytes.frm
/mysql/sys/memory_by_thread_by_current_bytes.frm
/mysql/sys/memory_by_user_by_current_bytes.frm
/mysql/sys/memory_global_by_current_bytes.frm
/mysql/sys/memory_global_total.frm
/mysql/performance_schema/memory_summary_by_account_by_event_name.frm
/mysql/performance_schema/memory_summary_by_host_by_event_name.frm
/mysql/performance_schema/memory_summary_by_thread_by_event_name.frm
/mysql/performance_schema/memory_summary_by_user_by_event_name.frm
/mysql/performance_schema/memory_summary_global_by_event_name.frm
/mysql/performance_schema/metadata_locks.frm
/mysql/sys/metrics.frm
/.idea/misc.xml
/.idea/modules.xml
/mysql/performance_schema/mutex_instances.frm
/mysql/mysql/ndb_binlog_index.frm
/mysql/mysql/ndb_binlog_index.MYD
/mysql/mysql/ndb_binlog_index.MYI
/mysql/performance_schema/objects_summary_global_by_type.frm
/mysql/performance_schema/performance_timers.frm
/.idea/php.xml
/mysql/mysql/plugin.frm
/mysql/mysql/plugin.ibd
/mysql/performance_schema/prepared_statements_instances.frm
/mysql/private_key.pem
/mysql/mysql/proc.frm
/mysql/mysql/proc.MYD
/mysql/mysql/proc.MYI
/mysql/sys/processlist.frm
/mysql/mysql/procs_priv.frm
/mysql/mysql/procs_priv.MYD
/mysql/mysql/procs_priv.MYI
/.idea/project-niagahoster.iml
/mysql/mysql/proxies_priv.frm
/mysql/mysql/proxies_priv.MYD
/mysql/mysql/proxies_priv.MYI
/mysql/sys/ps_check_lost_instrumentation.frm
/mysql/public_key.pem
/mysql/performance_schema/replication_applier_configuration.frm
/mysql/performance_schema/replication_applier_status.frm
/mysql/performance_schema/replication_applier_status_by_coordinator.frm
/mysql/performance_schema/replication_applier_status_by_worker.frm
/mysql/performance_schema/replication_connection_configuration.frm
/mysql/performance_schema/replication_connection_status.frm
/mysql/performance_schema/replication_group_member_stats.frm
/mysql/performance_schema/replication_group_members.frm
/mysql/performance_schema/rwlock_instances.frm
/mysql/sys/schema_auto_increment_columns.frm
/mysql/sys/schema_index_statistics.frm
/mysql/sys/schema_object_overview.frm
/mysql/sys/schema_redundant_indexes.frm
/mysql/sys/schema_table_lock_waits.frm
/mysql/sys/schema_table_statistics.frm
/mysql/sys/schema_table_statistics_with_buffer.frm
/mysql/sys/schema_tables_with_full_table_scans.frm
/mysql/sys/schema_unused_indexes.frm
/mysql/server-cert.pem
/mysql/server-key.pem
/mysql/mysql/server_cost.frm
/mysql/mysql/server_cost.ibd
/mysql/mysql/servers.frm
/mysql/mysql/servers.ibd
/mysql/sys/session.frm
/mysql/performance_schema/session_account_connect_attrs.frm
/mysql/performance_schema/session_connect_attrs.frm
/mysql/sys/session_ssl_status.frm
/mysql/performance_schema/session_status.frm
/mysql/performance_schema/session_variables.frm
/mysql/performance_schema/setup_actors.frm
/mysql/performance_schema/setup_consumers.frm
/mysql/performance_schema/setup_instruments.frm
/mysql/performance_schema/setup_objects.frm
/mysql/performance_schema/setup_timers.frm
/mysql/mysql/slave_master_info.frm
/mysql/mysql/slave_master_info.ibd
/mysql/mysql/slave_relay_log_info.frm
/mysql/mysql/slave_relay_log_info.ibd
/mysql/mysql/slave_worker_info.frm
/mysql/mysql/slave_worker_info.ibd
/mysql/mysql/slow_log.CSM
/mysql/mysql/slow_log.CSV
/mysql/mysql/slow_log.frm
/mysql/performance_schema/socket_instances.frm
/mysql/performance_schema/socket_summary_by_event_name.frm
/mysql/performance_schema/socket_summary_by_instance.frm
/mysql/sys/statement_analysis.frm
/mysql/sys/statements_with_errors_or_warnings.frm
/mysql/sys/statements_with_full_table_scans.frm
/mysql/sys/statements_with_runtimes_in_95th_percentile.frm
/mysql/sys/statements_with_sorting.frm
/mysql/sys/statements_with_temp_tables.frm
/mysql/performance_schema/status_by_account.frm
/mysql/performance_schema/status_by_host.frm
/mysql/performance_schema/status_by_thread.frm
/mysql/performance_schema/status_by_user.frm
/mysql/sys/sys_config.frm
/mysql/sys/sys_config.ibd
/mysql/sys/sys_config.TRG
/mysql/sys/sys_config_insert_set_user.TRN
/mysql/sys/sys_config_update_set_user.TRN
/mysql/performance_schema/table_handles.frm
/mysql/performance_schema/table_io_waits_summary_by_index_usage.frm
/mysql/performance_schema/table_io_waits_summary_by_table.frm
/mysql/performance_schema/table_lock_waits_summary_by_table.frm
/mysql/mysql/tables_priv.frm
/mysql/mysql/tables_priv.MYD
/mysql/mysql/tables_priv.MYI
/mysql/performance_schema/threads.frm
/mysql/mysql/time_zone.frm
/mysql/mysql/time_zone.ibd
/mysql/mysql/time_zone_leap_second.frm
/mysql/mysql/time_zone_leap_second.ibd
/mysql/mysql/time_zone_name.frm
/mysql/mysql/time_zone_name.ibd
/mysql/mysql/time_zone_transition.frm
/mysql/mysql/time_zone_transition.ibd
/mysql/mysql/time_zone_transition_type.frm
/mysql/mysql/time_zone_transition_type.ibd
/mysql/mysql/user.frm
/mysql/mysql/user.MYD
/mysql/mysql/user.MYI
/mysql/sys/user_summary.frm
/mysql/sys/user_summary_by_file_io.frm
/mysql/sys/user_summary_by_file_io_type.frm
/mysql/sys/user_summary_by_stages.frm
/mysql/sys/user_summary_by_statement_latency.frm
/mysql/sys/user_summary_by_statement_type.frm
/mysql/performance_schema/user_variables_by_thread.frm
/mysql/performance_schema/users.frm
/mysql/performance_schema/variables_by_thread.frm
/.idea/vcs.xml
/mysql/sys/version.frm
/mysql/sys/wait_classes_global_by_avg_latency.frm
/mysql/sys/wait_classes_global_by_latency.frm
/mysql/sys/waits_by_host_by_latency.frm
/mysql/sys/waits_by_user_by_latency.frm
/mysql/sys/waits_global_by_latency.frm
/mysql/sys/x@0024host_summary.frm
/mysql/sys/x@0024host_summary_by_file_io.frm
/mysql/sys/x@0024host_summary_by_file_io_type.frm
/mysql/sys/x@0024host_summary_by_stages.frm
/mysql/sys/x@0024host_summary_by_statement_latency.frm
/mysql/sys/x@0024host_summary_by_statement_type.frm
/mysql/sys/x@0024innodb_buffer_stats_by_schema.frm
/mysql/sys/x@0024innodb_buffer_stats_by_table.frm
/mysql/sys/x@0024innodb_lock_waits.frm
/mysql/sys/x@0024io_by_thread_by_latency.frm
/mysql/sys/x@0024io_global_by_file_by_bytes.frm
/mysql/sys/x@0024io_global_by_file_by_latency.frm
/mysql/sys/x@0024io_global_by_wait_by_bytes.frm
/mysql/sys/x@0024io_global_by_wait_by_latency.frm
/mysql/sys/x@0024latest_file_io.frm
/mysql/sys/x@0024memory_by_host_by_current_bytes.frm
/mysql/sys/x@0024memory_by_thread_by_current_bytes.frm
/mysql/sys/x@0024memory_by_user_by_current_bytes.frm
/mysql/sys/x@0024memory_global_by_current_bytes.frm
/mysql/sys/x@0024memory_global_total.frm
/mysql/sys/x@0024processlist.frm
/mysql/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
/mysql/sys/x@0024ps_digest_avg_latency_distribution.frm
/mysql/sys/x@0024ps_schema_table_statistics_io.frm
/mysql/sys/x@0024schema_flattened_keys.frm
/mysql/sys/x@0024schema_index_statistics.frm
/mysql/sys/x@0024schema_table_lock_waits.frm
/mysql/sys/x@0024schema_table_statistics.frm
/mysql/sys/x@0024schema_table_statistics_with_buffer.frm
/mysql/sys/x@0024schema_tables_with_full_table_scans.frm
/mysql/sys/x@0024session.frm
/mysql/sys/x@0024statement_analysis.frm
/mysql/sys/x@0024statements_with_errors_or_warnings.frm
/mysql/sys/x@0024statements_with_full_table_scans.frm
/mysql/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
/mysql/sys/x@0024statements_with_sorting.frm
/mysql/sys/x@0024statements_with_temp_tables.frm
/mysql/sys/x@0024user_summary.frm
/mysql/sys/x@0024user_summary_by_file_io.frm
/mysql/sys/x@0024user_summary_by_file_io_type.frm
/mysql/sys/x@0024user_summary_by_stages.frm
/mysql/sys/x@0024user_summary_by_statement_latency.frm
/mysql/sys/x@0024user_summary_by_statement_type.frm
/mysql/sys/x@0024wait_classes_global_by_avg_latency.frm
/mysql/sys/x@0024wait_classes_global_by_latency.frm
/mysql/sys/x@0024waits_by_host_by_latency.frm
/mysql/sys/x@0024waits_by_user_by_latency.frm
/mysql/sys/x@0024waits_global_by_latency.frm
