@font-face {
    font-family: "Montserrat Bold";
    src: url("/fonts/montserrat/Montserrat-Bold.otf");
}
@font-face {
    font-family: "Montserrat Regular";
    src: url("/fonts/montserrat/Montserrat-Regular.otf");
}
@font-face {
    font-family: "Montserrat Light";
    src: url("/fonts/montserrat/Montserrat-Light.otf");
}
@font-face {
    font-family: "Roboto Regular";
    src: url("/fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto Light";
    src: url("/fonts/roboto/Roboto-Light.ttf");
}
body {
    font-family: "Roboto Light";
    /*color: #333333;*/
}
b {
    font-family: "Roboto Regular";
    /*color: #414141;*/
}
.navbar-nav .nav-link {
    color: #4A4A4A;
}
#hero-image {
    padding-top: 75px;
    padding-bottom: 75px;
}
.hero-title {
    font-family: "Montserrat Bold";
    font-size: 54px;
}
.hero-title-medium {
    font-family: "Montserrat Bold";
    font-size: 30px;
    color: #505050;
}
.hero-title-small {
    font-family: "Montserrat Bold";
    font-size: 16px;
    color: #505050;
}
.hero-subtitle {
    font-family: "Montserrat Light";
    font-size: 30px;
    color: rgba(65, 65, 65, 0.9);
}
.hero-subtitle-small {
    font-family: "Montserrat Light";
    font-size: 24px;
    color: rgba(65, 65, 65, 0.9);
}
.hero-number {
    vertical-align: top;
    line-height: 55px;
}
.f-24 {
    font-size: 24px;
}
.f-20 {
    font-size: 20px;
}
.btn-pill {
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Montserrat Bold";
}
.btn-primary {
    background-color: #008FEB;
}
.border-primary {
    border: solid 2px #A9C8F3;
}
.bg-primary {
    background: #008EEA;
}
.bg-primary-darker {
    background: #007EDA;
}
.line {
    border: 0.5px solid #dee2e6!important;
    opacity: 0.5;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: white;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #F7F7F7;
}
.separator {
    border: solid 5px #F0F0F0;
    width: 5%;
    margin: 0 auto;
}
.img-fitur-hosting {
    width: 90px;
    display: block;
    margin: 0 auto;
}
ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.center-align-left {
    display: inline-block;
    text-align: left;
}
.banner-laravel {
    margin-top: 0;
}
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .banner-laravel {
        margin-top: 80px;
    }
}
